html { font-size: 11px; font-family: 'verdana'; }


/* ************************************************************ *
 * ELEMENTS
 * ************************************************************ */

/* ************************************************************ *
 * typography
 * ************************************************************ */

.head3-top24 {
	font-family: arial; 
	font-size: 12px;
	color: #303030;
	font-weight: bold;
}

/* ************************************************************ *
 * sprites
 * http://nl.spritegen.website-performance.org/
 * ************************************************************ */

.sprite-checkbox-checked{ background-position: 0 0; width: 14px; height: 14px; } 
.sprite-checkbox-disabled{ background-position: 0 -64px; width: 14px; height: 14px; } 
.sprite-checkbox{ background-position: 0 -128px; width: 14px; height: 14px; } 
.sprite-close-active{ background-position: 0 -192px; width: 11px; height: 11px; } 
.sprite-close-hover{ background-position: 0 -253px; width: 11px; height: 11px; } 
.sprite-close{ background-position: 0 -314px; width: 11px; height: 11px; } 
.sprite-edit{ background-position: 0 -375px; width: 8px; height: 8px; } 
.sprite-lock{ background-position: 0 -433px; width: 9px; height: 11px; } 
.sprite-magnifier{ background-position: 0 -494px; width: 14px; height: 14px; } 
.sprite-popout-10x10{ background-position: 0 -558px; width: 10px; height: 10px; } 
.sprite-popout-9x9{ background-position: 0 -618px; width: 9px; height: 9px; } 
.sprite-video{ background-position: 0 -677px; width: 11px; height: 6px; } 

.el-pointer {
	overflow: hidden;
	display: block;
	width: 0;
	height: 0;
	border-width: 1px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	background: none;
}
.point-bottom-grey-5 { border-width: 5px 5px 0px 5px; border-top-color: #8c8c8c; }


/* ************************************************************ *
 * el-icon
 * ************************************************************ */

.el-icon {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	background-color: none;
	background-image: url('../images/csg-4ffc010e9f293.png');
}

/* ************************************************************ *
 * el-button
 * ************************************************************ */
.test .el-button {
	float: left;
	/* testing */ padding: 20px !important;
}
.el-button {
	
	display: inline-block;
	box-shadow: 0 0 0 #FFFFFF inset;
	border-radius: 4px;
	cursor: pointer;
	color: #303030;
	overflow: hidden;
	text-align: center;
	background: -moz-linear-gradient(center top , #f9f9f9 0%, #e3e3e3 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e3e3e3));
	background: -webkit-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 );
	background: linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%);
	
	border-color: #A4A4A4 #ADADAD #969696 #B8B8B8;
	border-style: solid;
	border-width: 1px;
	padding: 1px 5px 4px !important;
	cursor: pointer;
	line-height: 5px;
	
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	
	-webkit-transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	-ms-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	transition: 0.25s ease;
	display: table;
}
.el-button > button {
	display: table-cell;
	height: 15px;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
	cursor: pointer;
	vertical-align: middle;
	background-color: transparent;
}
.el-button button .el-icon {
	display: inline-block;
	vertical-align: middle;
	
}
.el-button:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #A4A4A4 #999999 #666666 #999999;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
}
.el-button:hover > button {
	background: none;
}
.el-button:active {
	background-image: -moz-linear-gradient(center top , #C8C8C8 0px, #E6E6E6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C8C8C8), color-stop(100%,#E6E6E6));
	background: -webkit-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
	background: -o-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
	background: -ms-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C8C8C8', endColorstr='#E6E6E6',GradientType=0 );
	background: linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);

	border-color: #888888 #AAAAAA #CCCCCC;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFFFFF;
}

/* el-button - mo-stripped */
.el-button.mo-stripped {
	line-height: 5px;
	border: 1px solid transparent;
	background: none;
}
.el-button.mo-stripped:hover {
	background: -moz-linear-gradient(center top , #F9F9F9 0%, #E3E3E3 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#E3E3E3));
	background: -webkit-linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%);
	background: -o-linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%);
	background: -ms-linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#E3E3E3',GradientType=0 );
	background: linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%);

	border-color: #A4A4A4 #ADADAD #969696 #B8B8B8;
	border-style: solid;
	border-width: 1px;
	
	-webkit-transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	-ms-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	transition: 0.25s ease;
}

/* el-button - mo-add */
.el-button.mo-add {
	background-color: #454545;
	background: -moz-linear-gradient(center top , #585858 0%, #2E2E2E 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#585858), color-stop(100%,#2E2E2E));
	background: -webkit-linear-gradient(top, #585858 0%, #2E2E2E 100%);
	background: -o-linear-gradient(top, #585858 0%, #2E2E2E 100%);
	background: -ms-linear-gradient(top, #585858 0%, #2E2E2E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#2E2E2E',GradientType=0 );
	background: linear-gradient(top, #585858 0%, #2E2E2E 100%);

    border-color: #202020;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	outline: 0 none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.el-button.mo-add > button {
	color: #ffffff;
}
.el-button.mo-add:hover {
	background-color: #686868;
    background-image: -moz-linear-gradient(center top , #606060 0px, #383838 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#383838));
	background: -webkit-linear-gradient(top, #606060 0%, #383838 100%);
	background: -o-linear-gradient(top, #606060 0%, #383838 100%);
	background: -ms-linear-gradient(top, #606060 0%, #383838 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#383838',GradientType=0 );
	background: linear-gradient(top, #606060 0%, #383838 100%);

    border-color: #111111 #111111 #000000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
}
.el-button.mo-add:hover > button {
	background: none;
}
.el-button.mo-add:active {
    background-image: -moz-linear-gradient(center top , #383838 0px, #606060 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(100%,#606060));
	background: -webkit-linear-gradient(top, #383838 0%, #606060 100%);
	background: -o-linear-gradient(top, #383838 0%, #606060 100%);
	background: -ms-linear-gradient(top, #383838 0%, #606060 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#606060',GradientType=0 );
	background: linear-gradient(top, #383838 0%, #606060 100%);

	border-color: #666666;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) inset;
}

/* el-button - mo-yt */
.el-button.mo-yt {
	background-color: #454545;
	background-image: -moz-linear-gradient(center top , #383838 0px, #151515 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(100%,#151515));
	background: -webkit-linear-gradient(top, #383838 0%, #151515 100%);
	background: -o-linear-gradient(top, #383838 0%, #151515 100%);
	background: -ms-linear-gradient(top, #383838 0%, #151515 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#151515',GradientType=0 );
	background: linear-gradient(top, #383838 0%, #151515 100%);

	border-color: #151515 #151515 #000000;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	outline: 0 none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.el-button.mo-yt > button {
	color: #ffffff;
}
.el-button.mo-yt:hover {
	background-color: #333333;
    background-image: -moz-linear-gradient(center top , #383838 0px, #252525 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(100%,#252525));
	background: -webkit-linear-gradient(top, #383838 0%, #252525 100%);
	background: -o-linear-gradient(top, #383838 0%, #252525 100%);
	background: -ms-linear-gradient(top, #383838 0%, #252525 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#252525',GradientType=0 );
	background: linear-gradient(top, #383838 0%, #252525 100%);

    border-color: #111111 #111111 #000000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
}
.el-button.mo-yt:hover > button {
	background: none;
}
.el-button.mo-yt:active {
	background-image: -moz-linear-gradient(center top , #151515 0px, #252525 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151515), color-stop(100%,#252525));
	background: -webkit-linear-gradient(top, #151515 0%, #252525 100%);
	background: -o-linear-gradient(top, #151515 0%, #252525 100%);
	background: -ms-linear-gradient(top, #151515 0%, #252525 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151515', endColorstr='#252525',GradientType=0 );
	background: linear-gradient(top, #151515 0%, #252525 100%);

	border-color: #666666;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) inset;
}




/* ************************************************************ *
 * el-list
 * ************************************************************ */
.el-list {
	margin: 0;
	padding: 0;
}
.el-list > li {
	list-style-type: none;
}

/* el-list - mo-top24 */
.el-list.mo-top24 {
	border-top: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	font-size: 11px;
	font-family: 'verdana';
}
.el-list.mo-top24 li {
	position: relative;
	padding: 7px 30px 7px 7px;
	border-bottom: 1px solid #e2e2e2;

	background: #f2f2f2;
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
}
.el-list.mo-top24 li:hover { background: #f2f2f2; }
.el-list.mo-top24 span {
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	line-height: 18px;
}
.el-list.mo-top24 date { color: #929292; }
.el-list.mo-top24 .el-button {
	position: absolute;
	line-height: 5px;
	border: 1px solid transparent;
	background: none;
}
.el-list.mo-top24 .el-button:hover {
	background: -moz-linear-gradient(center top , #F9F9F9 0%, #E3E3E3 100%) repeat scroll 0 0 transparent;
	border-color: #A4A4A4 #ADADAD #969696 #B8B8B8;
	border-style: solid;
	border-width: 1px;
	
	-webkit-transition: 0.25s ease;
	-moz-transition: 0.25s ease;
	-ms-transition: 0.25s ease;
	-o-transition: 0.25s ease;
	transition: 0.25s ease;
}
.el-list.mo-top24 .el-button.mo-stripped { width: 13px; right: 5px; }
.el-list.mo-top24 .el-button.sprite-edit { top: 27px; }
.el-list.mo-top24 .el-button.sprite-video { top: 7px; }

/* el-list - mo-checklist */
.el-list.mo-checklist {
}
.el-list.mo-checklist > span {}
.el-list.mo-checklist .el-icon {
	position: absolute;
	top: 6px;
	left: 0;
}
.el-list.mo-checklist li {
	position: relative;
	line-height: 25px;
	padding-left: 20px;
}


/* ************************************************************ *
 * el-input
 * ************************************************************ */
.el-input {
	-moz-box-sizing: border-box;
	-moz-transition: border-color 0.2s ease 0s;
	border-right: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 14px;
/*	height: 24px;*/
	line-height: 0;
	margin: 0 0 2px;
	overflow: hidden;
	position: relative;
    box-shadow: 0 1px 2px #EEEEEE inset;
}
.el-input label {
	display: block;
	position: relative;
	border: medium none;
	height: 100%;
/*	line-height: 22px;
*/	overflow: hidden;
	padding: 0;
	width: 100%;
}
.el-input input {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	display: inline-block;
	font-size: 13px;
	height: 19px;
	margin: 0;
	outline: medium none;
	padding: 2px 4px 3px;
	width: 100%;
	border: 1px solid #CCCCCC;
	
}

/* ************************************************************ *
 * el-overlay
 * ************************************************************ */

.el-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	background-color: rgb(0,0,0); opacity: 0.5;
	background-color: rgba(0,0,0,0.5);
}

/* ************************************************************ *
 * BLOCK
 * ************************************************************ */

/* ************************************************************ *
 * bl-scroll
 * ************************************************************ */
.bl-scroll {
	overflow: auto;
	height: 300px;
	border-bottom: 1px solid #E2E2E2;
}

/* ************************************************************ *
 * bl-dropdown
 * ************************************************************ */
.bl-dropdown .el-button {
	padding: 0;
	text-align: center;
	border-radius: 0px 4px 4px 0px;
}
.bl-dropdown .el-button.sprite-magnifier {
	float: right;
	border-radius: 0px 3px 3px 0;
	margin-left: -1px;
}
.bl-dropdown .el-button.sprite-magnifier button {
	height: 22px;
}


/* ************************************************************ *
 * bl-mod-top24 - bl-schedular-menu
 * ************************************************************ */

.bl-schedular-menu {
	padding-top: 10px;
}
.bl-schedular-menu .bl-scroll {
	border-top: 1px solid #f2f2f2;
	margin-bottom: 20px;
}
.bl-schedular-menu .bl-scroll .el-list { padding-top: 0; }
.bl-schedular-menu .bl-dropdown {
	overflow: hidden;
	margin-left: 5px;
	margin-bottom: 0;
	padding: 0;
}
.bl-schedular-menu .point-bottom-grey-5 button,
.bl-schedular-menu .bl-dropdown .el-button button {
	height: 22px;
}
.bl-schedular-menu .el-button.point-bottom-grey-5 {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	height: 14px;
	line-height: 14px;
}
.bl-schedular-menu .el-list.mo-top24 .el-button.sprite-edit { top: 27px; }
.bl-schedular-menu .el-list.mo-top24 .el-button.sprite-video { top: 7px; }

/* bl-advanced-filter-list */
.bl-advanced-filter-list {
	position: absolute;
	top: 300px;
	left: 50%;
	padding: 10px 20px 10px 10px;
	width: 180px;
	margin-left: -105px;
	line-height: 15px;
	background: #ffffff;
	border: 1px solid #cecece;
}
.bl-advanced-filter-list .el-list.mo-checklist {
	margin-bottom: 10px;
}
.bl-advanced-filter-list > span { display: block; }
.bl-advanced-filter-list .sprite-close {
	position: absolute;
	top: 8px;
	right: 8px;
}
.bl-advanced-filter-list .el-button {
	padding-left: 14px;
	padding-right: 14px;
	line-height: 20px;
}
.bl-advanced-filter-list .el-button button { font-size: 13px; }



/* ************************************************************ *
 * MODIFIER
 * ************************************************************ */

/*.bl-mod-top24.box-raster .schedule .today .item.mo-lock .inner*/
.mo-lock.mo-top24 {
	background-image: url('../images/pattern/pattern-lock.png');
}
/*.bl-mod-top24.box-raster .schedule .today .item.mo-lock .inner:hover*/
.mo-lock.mo-top24:hover {
	background-image: url('../images/pattern/pattern-lock-disabled.png');
}
