.bl-schedular-menu {
	width: 202px;
}
.bl-schedular-menu .bl-scroll {
	border-top: 1px solid #f2f2f2;
	margin-bottom: 20px;
}
.bl-schedular-menu .bl-dropdown {
	margin-left: 5px;
}

.bl-schedular-menu .el-button.point-bottom-grey-5 {
	margin-left: 5px;
	line-height: 12px;
}