/* bl-mod-top24 - bl-schedular-menu */
.bl-schedular-menu {
	width: 202px;
	padding-top: 10px;
}
.bl-schedular-menu .bl-scroll {
	border-top: 1px solid #f2f2f2;
	margin-bottom: 20px;
}
.bl-schedular-menu .bl-scroll .el-list { padding-top: 0; }
.bl-schedular-menu .bl-dropdown {
	float: left;
	width: 130px;
	margin-left: 10px;
}
.bl-schedular-menu .el-button.point-bottom-grey-5 {
	float: right;
	margin-right: 10px;
	padding: 5px;
	height: 14px;
	line-height: 14px;
}
